<h1>Listing posts</h1>

<div style="color:green"><center><strong><%= flash[:notice] -%></strong></center></div>

<table>
  <tr>
    <th>Heading</th>
    <th>Content</th>
  </tr>

<% @posts.each do |p| %>
  <%= form_tag(publish_posts_path, :method => :post) do -%>
  <tr>
    <td><%= p.heading -%></td>
    <td><%= p.content -%></td>
    <%= hidden_field_tag :heading, p.heading -%>
    <%= hidden_field_tag :content, p.content -%>

    <td><%=submit_tag "Post It" -%></td>
  </tr>
  <% end %>
<% end %>
</table>
